.image{
    max-width:400px ;
    max-height: 400px;
}
.image-container{
   
}
p{
    padding: 30px;
    line-height: 30px;
    font-weight: 700;
}
span{
    color: red;
    font-size: larger;
    font-weight: 500;
    display: block;
}
